

/* ==========================================================================
   Brens custom styles
   ========================================================================== */



.header-text {

	/*color: #669900; */
  color: #ffffff;
	text-align: center; 
  text-shadow: 5px 1px #000000;


}

.tagline {

	 font-size: 1em;
  color: #000000;
  text-align: right;
	
}

.glyphicon-lg {
	font-size: 2.4em;
}

.header-bg-img {
	background-image: url("../inc/img/fireplace-a-in-empty-room-m.jpg");
	min-height: 500px;
	background-size: cover;
  padding-top: 1px;
}

.header-bg-img-xs{
  background-image: url("../inc/img/fireplace-a-in-empty-room-m.jpg");
  min-height: 300px;
  background-size: cover;
}

.opaque-box-header  /* used for small displays only since blur background for
other displays requires Fixed property which interferes with small display nav menu */
  {
  width: 80%;
  height:80%;
  margin:30px 50px;
  background-color:#ffffff;
  opacity:0.6;
  filter:alpha(opacity=60); /* For IE8 and earlier */
  }



.background-img-blur {
  background-image: url("../inc/img/fireplace-a-in-empty-room-m.jpg");
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
  width: 95%;
  min-height: 140px;

  -webkit-filter: blur(12px);
  -moz-filter: blur(12px);
  -o-filter: blur(12px);
  -ms-filter: blur(12px);
  filter: blur(12px);
}

.content {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 9999;
  margin-left: 20px;
  margin-right: 20px;
}

.services-img-row {
  max-height: 230px;
  margin-top: 20px;
}

.services-img-div {
 position: absolute;
 width: 100%;
}

.contact-btn {
  float: right;
}







