

/* ==========================================================================
   Brens custom styles
   ========================================================================== */


body {
  background-color: #e8e8e8;
}


.header-text {

	/*color: #669900; */
  color: #ecf0f1;
	text-align: center; 
  

}

.tagline {

	 font-size: 1em;
  color: #000000;
  text-align: right;
	
}

.glyphicon-lg {
	font-size: 2.4em;
}

.header-bg-img {
	background-image: url("../inc/img/fireplace-a-in-empty-room-m.jpg");
	min-height: 500px;
	background-size: cover;
  padding-top: 1px;
}

.header-bg-img-xs{
  background-image: url("../inc/img/fireplace-a-in-empty-room-m.jpg");
  min-height: 300px;
  background-size: cover;
}

.opaque-box-header  /* used for small displays only since blur background for
other displays requires Fixed property which interferes with small display nav menu */
  {
  background-color:#95A5A6;
  opacity:0.8;
  filter:alpha(opacity=60); /* For IE8 and earlier */
  text-align: end;
  border-radius:7px;
  }


/* background blur not used now.. it was not effective enough 

.blur-container > p {
  background-image: url("../inc/img/fireplace-a-in-empty-room-m.jpg");
  left: 0;
  right: 0;
  width: 95%;
  min-height: 140px;

  -webkit-filter: blur(12px);
  -moz-filter: blur(12px);
  -o-filter: blur(12px);
  -ms-filter: blur(12px);
  filter: blur(12px);


}

.content {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 9999;
  margin-left: 20px;
  margin-right: 20px;

*/

.contact-btn {
  float: right;
}

.left-container {
  height: inherit;
  width: 170px;
  float: left;
  padding: 30px 10px;
  text-align: center;
  color: #fff;


 -webkit-border-radius: 5px 0 0 5px;
-moz-border-radius: 5px 0 0 5px;
-ms-border-radius: 5px 0 0 5px;
-o-border-radius: 5px 0 0 5px;
border-radius: 5px 0 0 5px;

}

@media (max-width: 767px) {
  .left-container {
    display: none !important;
  }
  tr.left-container {
    display: none !important;
  }
  th.left-container,
  td.left-container {
    display: none !important;
  }
}


.right-container {
  height: inherit;
  background-color: #fff;
  margin-left: 5px;
  padding: 10px;
  overflow: auto;

 -webkit-border-radius: 0 5px 5px 0;
-moz-border-radius: 0 5px 5px 0;
-ms-border-radius: 0 5px 5px 0;
-o-border-radius: 0 5px 5px 0;
border-radius: 0 5px 5px 0;
}

.info-box-icon {
  font-size: 4em;
  margin-left: 23%;
  color: #fff;
  vertical-align: middle;
  
} 

.service-container {
  margin-bottom: 0px;
  padding: 0 30px;


}

.btn-lg:hover {
  font-size: 1.5em;
}


.service-info-box {
  height: 400px;
}

#map_canvas {
        width: 500px;
        height: 500px;
      }


